@import '../functions';

html, body {
    padding: 0;
    margin: 0;
    
    /*
     * Scrollbars look horrible.
     * I plan to implement some nice scroll indicator in the future.
     */
    ::-webkit-scrollbar {
        display: none;
    }

    font-size: sizeMap(normal);
    font-family: 'Abel', sans-serif;
    font-weight: 100;
}

.singlePageApp {
    position: absolute;
    overflow: hidden;
    
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    background-color: #1D2027;
}
