@import '../../config';
@import '../../functions';
@import '../../mixins';

.textContact {
    color: $baseColor;

    form {
        display: grid;
        justify-content: center;
        
        grid-template-columns: reverseGoldenSplit(100%) goldenSplit(100%);
        grid-template-rows: auto auto auto;

        grid-column-gap: em(1, small);
        grid-row-gap: em(1, normal);

        margin-top: em(1, huge);

        %input {
            color: $baseColor;
            background-color: $background;

            padding-left: em(1, tiny);

            font-family: 'Abel', sans-serif;
            font-size: sizeMap(normal);
            font-weight: 100;

            
            border: solid 2px $baseColor;

            &:focus {
                color: $highlightColor;
                
                border: solid 2px $highlightColor;
    
                outline: none;
            }

            &:disabled {
                cursor: not-allowed;
                opacity: 0.55;
            }
        }

        .formGroup {
            display: flex;
            flex-direction: column;

            text-transform: lowercase;
            font-size: sizeMap(small);
            font-variant: small-caps;
            font-weight: 100;
            
            input {
                @extend %input;
                
                height: em($phi, normal);
            }

            textarea {
                @extend %input;

                padding-top: em(1, tiny);

                height: em(7, normal);
                resize: none;
            }

            &:focus-within {
                color: $highlightColor;
            }
        }

        .name {
            grid-column: 1 / span 1;
            @include media(desktop, max)
        }

        .email {
            grid-column: 2 / span 1;
        }

        .message {
            grid-column: 1 / span 2;
        }

        .button {
            @extend %input;

            cursor: pointer;

            grid-column: 1 / span 2;
            width: goldenSplit(100%);
            height: em($phi, normal);

            margin: auto;

            &:hover {
                color: $highlightColor;
                border: solid 2px $highlightColor;
            }
        }

    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: em(2, normal);

        height: em($phi, normal);

        & > a {
            display: flex;
            align-items: center;
            justify-content: center;

            text-decoration: none;

            color: $baseColor;
            background-color: $background;

            width: em($phi, normal);
            height: em($phi, normal);

            border: solid 2px $baseColor;

            &:hover {
                color: $highlightColor;
                border: solid 2px $highlightColor;
            }
        }

        & > a ~ a {
            margin-left: em(1, tiny);
        }
    }
}
