.textContact {
    // I'm too lazy to properly style this as it's just a temporary version for code cleanup.

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    .icons {
        margin-top: 3em;
    }
}
