@import '../functions';

.menu {
    position: absolute;
    z-index: layerMap(nav);

    color: whitesmoke;

    font-family: 'Abel', sans-serif;
    font-weight: 100;

    text-align: right;
    text-transform: uppercase;    

    bottom: 1em;
    right: 1em;
    
    .link {
        cursor: pointer;
        
        list-style: none;
        font-size: sizeMap(normal);
        
        transition: font-size 0.2s;

        &:hover {
            font-size: sizeMap(large);
        }
    }

    .active {
        font-size: sizeMap(huge);

        &:hover {
            font-size: sizeMap(huge);         
        }
    }
}
