@import '../functions';
@import '../mixins';

.Content {
    $navWidth: 100vw - goldenSplit(100vw);

    /*
     * The spacing between the top of the page and the content.
     * A golden split of the settings button offset.
     *
     * As the settings button offset can't be a global, we recalculate it here.
     */
    $topOffset: goldenSplit($navWidth, 4);

    /*
     * The spacing between the content and the left and bottom of the page.
     */
    $borderOffset: goldenSplit($topOffset);

    /*
     * The content padding.
     */
    $padding: goldenSplit($borderOffset);


    position: absolute;
    z-index: layerMap(content);

    /*
     * The right of the content container golden splits the page.
     * Since there's a border on the left, it needs to be subtracted. 
     */
    width: goldenSplit(100vw) - $borderOffset;

    margin-top: $topOffset;
    margin-bottom: $borderOffset;
    margin-left: $borderOffset;

    padding: $padding;

    background-color: colorMap(background);

    .PageHeader {
        $headerSize: goldenSplit($topOffset, 2);


        position: relative;
        display: inline-block;

        font-family: 'Abel', sans-serif;
        
        /*
         * Size the text so the height matches the given size.
         * Also removes white spaces above and below the text.
         */
        @include sizedText(Abel, $headerSize);

        margin-top: $borderOffset - $padding;
        margin-bottom: goldenSplit($borderOffset);
        
        color: colorMap(base);
    }
}