@import '../common';

$fontSize: goldenSplit(100vh, 6);

.container {
    padding-top: 2px;
    padding-bottom: 2px;
}

.text {
    position: absolute;

    right: $lineWidth * pow($phi, 2) * (1 + $phi);
    

    cursor: pointer;
    

    font-family: 'Abel', sans-serif;
    font-size: $fontSize;
    line-height: $fontSize;
    
    color: $baseColor;


    transition: right .2s;
}

.textHoverUnselected {    
    right: $lineWidth * pow($phi, 2) * 2;
}

.text:hover,
.textSelected {
    color: $highlightColor;
}

.bullet {
    position: relative;
    float: right;

    width: $lineWidth;
    height: $fontSize * 0.9;

    right: $lineWidth * (pow($phi, 2) - 1);


    transition: width .2s, right .2s;
    
    
    background-color: $baseColor;
}

.bulletHover {
    width: $lineWidth * $phi;
    
    right: $lineWidth * $phi * ($phi - 1);


    background-color: $highlightColor;
}

.bulletSelected {
    width: $lineWidth * pow($phi, 2);

    right: 0px;

    
    background-color: $highlightColor;
}