@import '../config';
@import '../functions';

.Settings {
    /*
     * The size of the settings button.
     * This should be a global, but since it uses a function it can't be in the config file without circular dependencies.
     *
     * (sass I'm looking at you.)
     */
    $settingsSize: goldenSplit(100vw, 8);

    /*   
     * The offset of the settings button relative to the top and right of the screen.
     * Golden split the nav width 3 times.
     */
    $offset: goldenSplit(100vw - goldenSplit(100vw), 3);

    
    display: inline-block;
    position: relative;
    z-index: layerMap(settings);

    width: $settingsSize;
    height: $settingsSize;

    transform: rotate(45deg);

    cursor: pointer;

    /*
     * The border will be outside a 45deg rotated element.
     * Makes the button bigger by $sqrtTwo.
     * This is taken into acount with a $lineWidth * $sqrtTwo when positioning the button in the nav.
     */
    border: solid $lineWidth colorMap(base);
}
