@import '../config';
@import '../functions';

.SocialIcon {
    /*
     * Defines the input field border width.
     *
     * The border used on the nav is a bit too thick, so we just golden split it.
     * It might be too thin now, but it probably won't matter when I make this responsive.
     */
    $borderWidth: $lineWidth / $phi;

    /*
     * The size of the component.
     * It's always a square.
     */
    $size: goldenSplit(100vh, 6);


    position: relative;
    display: inline-block;
    
    width: $size;
    height: $size;
    
    font-size: goldenSplit($size);
    /*
     * Center the icons horizontally.
     */
    text-align: center;
    
    border: solid $borderWidth colorMap(base);
    
    a {
        position: relative;
        display: block;
        
        /*
         * I could set the width and height directly here and let the container scale to fit.
         * To me it makes more sense that the actual component has a size, and the link is scaling to cover it.
         */
        width: 100%;
        height: 100%;

        text-decoration: none;
    }

    /*
     * In my head it looks more organized if I nest it in the main class instead of in the a.
     * Don't question it.
     */
    a i {
        /*
         * Setting the line-height to the height of the container centers the icon vertically.
         */
        line-height: $size;

        color: colorMap(base);
    }

    &:hover {
        border: solid $borderWidth colorMap(highlight);

        /*
         * Select the icon and change it's color when the container is hovered.
         */
        & a i {
            color: colorMap(highlight);
        }
    }
}
