@import '../functions';

.Projects {
    position: relative;
    width: 100%;

    p {
        color: colorMap(base);

        font-family: 'Abel', sans-serif;
        font-weight: 100;

        text-indent: goldenSplit(100vw, 7);
        font-size: goldenSplit(100vh, 7);
    }

    /* Style the arrows to move between different projects. */
    %Arrow {
        /* The arrows are fixed for easier navigation. */
        position: fixed;
        display: inline-block;
        z-index: layerMap(projectNav);

        top: goldenSplit(100vh);
        left: 0;

        /* Just to avoid it being right on the border. */
        margin-left: 15px;

        font-size: goldenSplit(100vw, 8);

        cursor: pointer;
        color: colorMap(base);

        &:hover {
            color: colorMap(highlight);
        }
    }

    .ArrowLeft {
        @extend %Arrow;

        /*
         * Offset relative to the center.
         * Ensures the center of the two arrows is at the position given by the base class.
         */
        margin-bottom: 1.2em;
    }

    .ArrowRight {
        @extend %Arrow;

        /*
         * Offset relative to the center.
         * Ensures the center of the two arrows is at the position given by the base class.
         */
        margin-top: 1.2em;
    }
}