$baseColor: #dddddd;
$highlightColor: #fafafa;

$backgroundColor: #444444bb;
$shadowColor: #888888bb;

$phi: 1.61803399;
$sqrtTwo: 1.4142;

@function pow($number, $exponent)
{
    $value: 1;

    @if $exponent > 0
    {
        @for $i from 1 through $exponent
        {
            $value: $value * $number;
        }
    }
    @return $value;
}

@function goldenSplit($base, $splitCount:1)
{
    @return $base / pow($phi, $splitCount);
}

@function inverseGoldenSplit($base, $splitCount:1)
{
    @return $base - goldenSplit($base, $splitCount);
}


$lineWidth: goldenSplit(100vw, 13);

$contentWidth: goldenSplit(100vw);
$navWidth: inverseGoldenSplit(100vw);

$settingsSize: goldenSplit(100vw, 8);
$settingsOffset: goldenSplit($navWidth, 3);