@import 'config';

/**
 * Sets text height to match given size.
 * Removes white spaces from top and bottom.
 * Uses $fontMetrics from _config.scss.
 *
 * Based on the approach taken by http://text-crop.eightshapes.com/
 *
 * Size of capital characters matches $size parameter.
 * Crops at the baseline and at the top of capital characters.
 * It's not as general as it could be, but it's what I need for now.
 */
@mixin sizedText($font, $size)
{
    $metrics: map-get($map: $fontMetrics, $key: $font);

    $fontSize: $size * map-get($map: $metrics, $key: em) / map-get($map: $metrics, $key: capitalHeight);
    font-size: $fontSize;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -(map-get($map: $metrics, $key: ascent) - map-get($map: $metrics, $key: capitalHeight)) * $fontSize / map-get($map: $metrics, $key: em);
    }

    &::after {
        margin-top: -(map-get($map: $metrics, $key: descent) * $fontSize / map-get($map: $metrics, $key: em));
    }
}