.configuration {
    form {
        h1 {
            font-size: 80%;
            font-style: italic;

            color: #54EAF1;
            background-color: #C55BF3;
        }

        h3 {
            font-size: 60%;
            font-style: italic;

            color: #C55BF3;
            background-color: #54EAF1;
        }
    }
}
