@import '../config';
@import '../functions';

$buttonHeight: 75px;

.configurationPanel {
    position: absolute;
    z-index: 100;
    
    width: 25vw;
    height: 100%;
    
    background: $baseColor;
    color: $backgroundOpaque;
      
    font-family: 'Abel', sans-serif;
    font-weight: 100;

    transition: transform .2s ease-out;

    .configuration {
      height: 100%;
      overflow-y: auto;

      form {
        padding: em(1, small);
        
        h1 {
          text-transform: uppercase;

          font-size: sizeMap(large);
        }
  
        p {
          font-size: sizeMap(normal);
        }

        fieldset {
          border: 0;
          padding: 0;

          h1 {
            text-transform: lowercase;
            font-variant: small-caps;
            font-size: sizeMap(large);

            border-bottom: solid 2px $backgroundOpaque;
          }

          label {
            font-size: sizeMap(small);

            display: flex;
            flex-direction: column;

            margin-bottom: 1em;

            select {
              font-size: sizeMap(normal);
              font-family: 'Abel', sans-serif;
              padding: em(1 / $phi, tiny);
            }
          }
        }
      }
    }

    .button {
      box-sizing: border-box;
  
      width: 50px;
      height: $buttonHeight;
      
      position: absolute;
      
      top: 0;
      left: 25vw;
      
      cursor: pointer;
      
      // Some trickery to make a diagonal corner.
      // You can google "CSS triangles" for details.
      border-left: 30px solid $baseColor;
      border-bottom: 30px solid transparent;
      
      i {
        position: absolute;
        
        color: $backgroundOpaque;
  
        left: -1.15em;
        top: 0.4em;
        
        cursor: pointer;
        z-index: 1;
      }
      
      &:hover {
        i {
          color: $background;
        }
      }
    }
}

.closed {
    transform: translatex(-25vw);
}